* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 300px;
}

li {
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 5px 10px;
}

input {
    width: 80%;
    height: 30px;
    padding: 0 10px;
    margin-top: 10px;
}

button {
    height: 30px;
    margin-top: 10px;
}
