* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #34325a;
    color: white;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    position: relative;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

ul {
    width: 500px;
    border-radius: 5px;
}

li {
    list-style-type: none;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #423e6e;
    margin-bottom: 2px;
}

li span::first-letter {
    display: block;
    text-transform: uppercase;
}

li:first-child {
    border-radius: 5px 5px 0 0;
}

li:last-child {
    border-radius: 0 0 5px 5px;
}

input {
    width: 100%;
    height: 60px;
    padding: 15px 25px;
    margin-top: 10px;
    background-color: #292849;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}

input:focus {
    outline: 2px solid #263d7a;
}

input.active:focus {
    outline: 2px solid red;
}

button {
    height: 30px;
    width: 20%;
    margin-top: 10px;
}

.fa-trash-alt {
    font-size: 20px;
    cursor: pointer;
}

.fa-arrow-alt-circle-right {
    font-size: 22px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.fa-arrow-alt-circle-right:hover {
    transform: scale(1.2);
}

#root > div {
    margin: 10px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tooltip {
    background-color: rgba(66, 62, 110, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -40px;
    left: 10px;
    opacity: 0;
    transition: opacity .5s ease;
    display: flex;
    align-items: center;
}

.tooltip.active {
    opacity: 1;
}

.tooltip:before {
    content: ' ';
    height: 20px;
    position: absolute;
    display: inline-block;
    border-right: 3px solid red;
    left: -8px;
}
